* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: aliceblue;

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 20px;






        .maze {
            width: 340.5px;
            height: 300px;
            border: 1px solid black;
            order: 1px solid;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .wall {
                width: 26px;
                height: 25px;
                // background-color: #363636;
                border: 0.5px solid white;
                background-color: #363636;
                // background-image: url("/imgs/wall.png");
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;

            }

            .path {
                width: 26px;
                height: 25px;
                // background-color: #ACDFA7;
                border: 0.5px solid white;
                background-color: #ACDFA7;
                ;
                // background-image: url("/imgs/road.png");
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;
            }

            .s {
                width: 26px;
                height: 25px;
                border: 0.5px solid white;
                background-color: #f80d0d;
                // background-image: url("/imgs/fatMan.png");
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;

            }

            .t {
                background-color: #d1e408;
                width: 26px;
                height: 25px;
                border: 0.5px solid white;

                // background-image: url("/imgs/beer.png");
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;


            }




        }
    }
}